/*
@tailwind base; adds base styles to all elements:
https://tailwindcss.com/docs/preflight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #efefef;
  --color-highlight: #ff80ff;
  --divider-color: #ccc;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Consolas", "Andale Mono", monospace;
  font-size: 0.9rem;
  background-color: var(--color-base);
}

/* Resizable divider */
.resizable-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.resizable-left {
  flex-grow: 1;
  overflow-y: auto;
  min-width: 200px;
}

.resizable-right {
  width: 380px;
  overflow-y: auto;
  min-width: 200px;
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: var(--divider-color);
  position: relative;
}

.resizer:hover {
  background-color: var(--color-highlight);
}
